
    <ion-header-bar class="top">
        <h1 class="title">Add Students</h1>
        <button class="button button-icon ion-plus" ng-click="addItem()">
        </button>
    </ion-header-bar>

    <ion-content>
        <button class="button " ng-controller="loginCtrl" ng-click="logout()">Logout
        </button>

        <label class="item item-input">
            <span class="input-label">Student Name
               </label>
               <input type="text" id="stuName">

    <label class="item item-input">
      <span class="input-label">Class</span>
        </label>

        <select id="stuClass">
            <option value="Creative Mutimedia">Creative Mutimedia</option>
            <option value="Game Art and Design">Game Art and Design</option>
            <option value="Business">Business</option>
        </select>




        <ion-list ng-repeat="item in items">
            <div id="item">
                {{item.stuName}} : {{item.stuClass}}
        </ion-list>
    </ion-content>

    <ion-view view-title="Add Students">
      <ion-content class="padding">
        <br>
        <section class="title">
          <div class="row">
            <div class="col-80 col-offset-10">
              <h2>Registration</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-80 col-offset-10">
              <h4>Please enter your details to Register</h4>
            </div>
          </div>
        </section>
        <section class="login">
          <br>
          <div class="row">
            <div class="col-80 col-offset-10">
              <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="email" id="username">
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-80 col-offset-10">
              <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" id="password">
              </label>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-50 col-offset-25">
              <button class="button button-small button-royal" type="submit" ng-click="addItem()">
                Register
              </button>
            </div>
          </div>
        </section>
      </ion-content>
    </ion-view>
