<ion-view view-title="Login">
  <ion-content class="padding">
    <br>
    <section class="page-title">
      <h1>Roll Call</h1>
      <h4>Please Login to commence roll call!!!</h4>
    </section>

    <section class="login">
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="email" id="email">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" id="password">
      </label>
    </section>

    <section class="sign-in-button">
      <button class="button button-full button-positive" type="submit" ng-click="addItem()">Sign In</button>
    </section>

    <section class="register-button">
      <button class="button button-small button-royal" ng-click="goRegister()">Please Register here!!!</button>
    </section>

  </ion-content>
</ion-view>
