<ion-view view-title="Create Course">
  <ion-content>
    <div class="bar bar-header">
      <button class="button button-clear button-positive header-buttons-createCourse" ng-controller="loginCtrl" ng-click="logout()">Logout</button>
    </div>
    <br><br>
    <ion-item>
      <label class="item item-input item-select">
        <div class="input-label">Course Name</div>
        <select id="courseName">
          <option value="Creative Multimedia" selected>Creative Mutimedia</option>
          <option value="Digital Animation Production">Digital Animation Production</option>
          <option value="Game Art and Design">Game Art and Design</option>
          <option value="Business Studies">Business Studies</option>
        </select>
      </label>
    </ion-item>
    <ion-item>
      <label class="item item-input item-select">
        <div class="input-label">Course Day</div>
        <select id="courseDay">
          <option value="Monday" selected>Monday</option>
          <option value="Tuesday">Tuesday</option>
          <option value="Wednesday">Wednesday</option>
          <option value="Thursday">Thursday</option>
          <option value="Friday">Friday</option>
        </select>
      </label>
    </ion-item>
    <ion-item>
      <label class="item item-input">
        <div class="input-label">Course Day</div>
        <input type="time" id="courseTime">
      </label>
    </ion-item>
    <ion-item>
      <button class="button button-small button-positive" ng-click="createCourse()">Create Course</button>
    </ion-item>
  </ion-content>
</ion-view>
