<ion-view view-title="Create Course">
  <ion-content class="padding">
    <ion-header-bar class="bar bar-header">
      <button class="button button-clear button-positive" ng-controller="loginCtrl" ng-click="logout()">Logout</button>
    </ion-header-bar>
    <br><br><br>
    <section class="create-course-name">
      <label class="item item-input item-select">
        <div class="input-label">Course Name</div>
        <select id="courseName">
          <option value="Creative Multimedia" selected>Creative Mutimedia</option>
          <option value="Digital Animation Production">Digital Animation Production</option>
          <option value="Game Art and Design">Game Art and Design</option>
          <option value="Business Studies">Business Studies</option>
        </select>
      </label>
    </section>
    <section class="create-course-day">
      <label class="item item-input item-select">
        <div class="input-label">Course Day</div>
        <select id="courseDay">
          <option value="Monday" selected>Monday</option>
          <option value="Tuesday">Tuesday</option>
          <option value="Wednesday">Wednesday</option>
          <option value="Thursday">Thursday</option>
          <option value="Friday">Friday</option>
        </select>
      </label>
    </section>
    <section class="create-course-time">
      <label class="item item-input">
        <div class="input-label">Course Day</div>
        <input type="time" id="courseTime">
      </label>
    </section>
    <section class="create-course-button">
      <button class="button button-small button-positive" ng-click="createCourse()">Create Course</button>
    </section>
  </ion-content>
</ion-view>
