<ion-view view-title="Courses">
  <ion-content class="padding">
    <ion-header-bar class="bar bar-header">
      <button class="button button-clear button-positive" ng-controller="loginCtrl" ng-click="logout()">Logout </button>
      <button class="button button-clear button-positive" ng-click="goCreateCourse()">Create Course</button>
    </ion-header-bar>
    <br><br><br>
    <section class="courses" ng-repeat="course in courses">
      <div class="item item-icon-left item-text-center item-icon-right item-text-wrap">
        <button class="button button-small button-assertive icon ion-close-circled icon-accessory" ng-click="delete()"></button>
        <h3 data="{{course.courseName}}">{{course.courseName}}</h3>
        <h4 data="{{course.courseDay}}, {{course.courseTime}}">{{course.courseDay}} | {{course.courseTime}}</h4>
        <button class="button button-small button-light icon ion-chevron-right icon-accessory" ng-click="goStudents()"></button>
      </div>
    </section>
  </ion-content>
</ion-view>
