<ion-view view-title="Courses">
  <ion-content>
    <ion-header-bar class="bar bar-header">
      <button class="button button-clear button-positive header-buttons-logout" ng-controller="loginCtrl" ng-click="logout()">Logout</button>
      <button class="button button-clear button-positive header-buttons-course" ng-click="goCreateCourse()">Create Course</button>
    </ion-header-bar>
    <br><br>
    <ion-list>
      <ion-item class="item-icon-right" ng-repeat="course in courses">
        <div class="item-text-left item-text-wrap" ng-click="goStudents()">
          <h2 data={{course.courseName}}> {{course.courseName}}</h2>
          <h3 data={{course.courseDay}}> {{course.courseDay}}</h3>
          <h4 data={{course.courseTime}}> {{course.courseTime}}</h4>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
