<ion-view view-title="Students">
  <ion-content class="padding">
    <ion-header-bar class="bar bar-header">
      <button class="button button-clear button-positive" ng-controller="loginCtrl" ng-click="logout()">Logout</button>
      <button class="button button-clear button-positive" ng-click="goAddStudent()">Add Student</button>
    </ion-header-bar>
    <br><br><br>
    <section class="students" ng-repeat="student in students">
      <div class="item item-icon-left item-text-right item-text-wrap">
        <button class="button button-small button-assertive icon ion-close-circled icon-accessory" ng-click="delete()"></button>
        <h3 data="{{student.studName}}, {{student.studCourse}}">{{student.studName}} | {{student.studCourse}}</h3>
        <ion-checkbox class="item-checkbox-right checkbox-positive" id="{{student.studChecked}}" ng-model="student.studChecked">
          Student In Class
        </ion-checkbox>
      </div>
    </section>
    <section class="roll-call-button">
      <button class="button button-small button-positive" ng-click="takeRollCall()">Take Roll Call</button>
    </section>
  </ion-content>
</ion-view>
