<ion-view view-title="Register">
  <ion-content class="padding">
    <br>
    <section class="page-title">
      <h1>Registration</h1>
      <h4>Please enter your details to Register</h4>
    </section>
    <section class="register">
      <label class="item item-input">
        <div class="input-label">Email</div>
        <input type="email" id="email">
      </label>
      <label class="item item-input">
        <div class="input-label">Password</div>
        <input type="password" id="password">
      </label>
    </section>
    <section class="register-button">
      <button class="button button-small button-royal" type="submit" ng-click="addItem()">Register</button>
    </section>
  </ion-content>
</ion-view>
