<ion-view view-title="Add Student">
  <ion-content class="padding">
    <ion-header-bar class="bar bar-header">
      <button class="button button-clear button-positive" ng-controller="loginCtrl" ng-click="logout()">Logout</button>
    </ion-header-bar>
    <br><br><br>
    <section class="add-student-name">
      <label class="item item-input">
        <div class="input-label">Student Name</div>
        <input type="text" id="studName">
      </label>
    </section>
    <section class="add-student-course">
      <label class="item item-input item-select">
        <div class="input-label">Student Course</div>
        <select id="studCourse">
          <option value="Creative Multimedia" selected>Creative Mutimedia</option>
          <option value="Digital Animation Production">Digital Animation Production</option>
          <option value="Game Art and Design">Game Art and Design</option>
          <option value="Business Studies">Business Studies</option>
        </select>
      </label>
    </section>
    <section class="add-student-check">
      <label>
        <ion-checkbox class="item-checkbox-right" id="studChecked">Student Check-in</ion-checkbox>
      </label>
    </section>
    <br>
    <section class="add-student-button">
      <button class="button button-small button-positive" ng-click="addItem()">Add Student</button>
    </section>
  </ion-content>
</ion-view>
