<ion-view view-title="Courses">
  <ion-content>
    <div class="bar bar-header">
      <button class="button button-clear button-positive header-buttons-logout" ng-controller="loginCtrl" ng-click="logout()">Logout</button>
      <button class="button button-clear button-positive header-buttons-course">Create Course</button>
    </div>
    <br><br><br>
    <ion-list ng-repeat="course in courses">
      <a class="button icon-right ion-chevron-right button-positive" ng-click="goCourses(course.courseName)">
        <span data={{course.courseName}}> {{course.courseName}}</span> :
        <span data={{course.courseDay}}> {{course.courseDay}}</span> :
        <span data={{course.courseTime}}> {{course.courseTime}}</span>
      </a>
      <br><br>
    </ion-list>
  </ion-content>
</ion-view>
