html, body {
  text-align: center;
  vertical-align: middle;
}
.header-buttons-logout {
  left: 0.5%;
}
.header-buttons-course {
  left: 91.5%;
}
.header-buttons-student {
  left: 92.5%;
}
.header-buttons-createCourse {
  left: 48%;
}
.header-buttons-addStudent {
  left: 48%;
}
@media (max-width: 768px) {
  .header-buttons-logout {
  left: 1%;
  }
  .header-buttons-course {
    left: 68%;
  }
  .header-buttons-student {
    left: 72%;
  }
  .header-buttons-createCourse {
    left: 42.5%;
  }
  .header-buttons-addStudent {
    left: 42.5%;
  }
}
