.page-title {
  text-align: center;
  vertical-align: middle;
  padding-bottom: 10%;
}
.login {
  text-align: left;
  vertical-align: middle;
  padding-bottom: 10%;
}
.sign-in-button {
  text-align: center;
  vertical-align: middle;
  padding-bottom: 5%;
}
.register-button {
  text-align: center;
  vertical-align: middle;
}
.register {
  text-align: left;
  vertical-align: middle;
  padding-bottom: 10%;
}
.courses {
  text-align: left;
  vertical-align: middle;
  padding-bottom: 5%;
}
.create-course-name {
  text-align: left;
  vertical-align: middle;
  padding-bottom: 5%;
}
.create-course-day {
  text-align: left;
  vertical-align: middle;
  padding-bottom: 5%;
}
.create-course-time {
  text-align: left;
  vertical-align: middle;
  padding-bottom: 5%;
}
.create-course-button {
  text-align: center;
  vertical-align: middle;
}
.students {
  text-align: left;
  vertical-align: middle;
  padding-bottom: 5%;
}
.roll-call-button {
  text-align: center;
  vertical-align: middle;
}
.add-student-name {
  text-align: left;
  vertical-align: middle;
  padding-bottom: 5%;
}
.add-student-course {
  text-align: left;
  vertical-align: middle;
  padding-bottom: 5%;
}
.add-student-button {
  text-align: center;
  vertical-align: middle;
}
